/* Page contact css
-------------------------------------------------------------- */
.contact {
    &__links {
        text-align: center;
    }
    &__link {
        position: relative;
        display: inline-block;
        margin: 10px 20px;
        opacity: 0.7;
        transition: opacity .2s ease-in-out;
        .icon {
            width: 30px;
            height: 30px;
        }
        @include hover {
            opacity: 1;
        }
    }
}