/* Header css
 ----------------------------------------------------------------------------------------------------*/
.main-stars {
	position: absolute;
	z-index: -1;
	top: 0; left: 0;
	width: 100%; height: 250px;
	.star,
	.nova,
	.supernova {
		background: $darkcolor;
	}
}
.header {
	@include clearfix;
	padding-top: $base-spacing;
}
.header__logo-link {
	display: block;
}
.header__img {
	@extend %img__responsive;
	margin: 0 auto $base-spacing;
}


.header__logo {
	text-align: center;
	img {
		max-width: 150px;
	}
	@media screen and (min-width: $desktop-small) {
		
	}
}
.header__logo__inner {

}