/* Menus
----------------------------------------------------------------------------------------------------*/
.menu__fastaccess {
	margin: 0;
	font-size: 9px;
	display: none;
	li {
		display: inline;
		a {
			position: absolute;
			z-index: 1;
			color: $lightcolor;
			@include hover {
				z-index: 2;
				color: $maincolor;
			}
		}
	}
	@media screen and (min-width: $desktop-small) {
		display: block;
	}
}
// Mobile open/close button */
.button__menu-open {
	display: block;
}
.button__menu-close {
	display: none;
}
// Mobile menu stop scroll on body and display button */
.menu-mobile--active {
	overflow: hidden;
	.button__menu-open {
		display: none;
	}
	.button__menu-close {
		display: block;
	}
}
.button__menu-container {
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	@media screen and (min-width: $desktop-small) {
		display: none;
	}
}
.menu {
	z-index: 998;
	position: fixed;
	top: 0;
	left: -100%;
	bottom: 0;
	@include clearfix;
	width: 80%;
	padding: 40px 0;
	background: $light-gray;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	@include transition (left 0.5s ease-out);
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	&.opened {
		left: 0;
		box-shadow: 0 0 100px rgba($darkcolor, 0.5);
	}
	.wrapper {
		padding: 0;
	}
	ul {
		@include clearfix;
		&>li {
			&>a {
				display: block;
				padding: 10px;
				text-decoration: none;
				@include hover {
					color:$lightcolor;
					background:$maincolor;
				}
			}
			&.sfHover,
			&.current-menu-item,
			&.current-menu-parent {
				&>a {
					color:$lightcolor;
					background:$maincolor;
				}
			}
		}
	}
	@media screen and (min-width: $desktop-small) {
		//reset mobile menu position and dimensions
		position: static;
		left: auto;
		overflow: inherit;
		background: none;
		width: 100%;
		padding: 0;
		text-align: center;
		ul {
			font-size: 18px;
			&>li {
				position: relative;
				display: inline-block;
				margin: 0 15px;
				list-style-type: none;
				a {
					position: relative;
					padding: 0;
					&:after {
						content: "";
						position: absolute;
						z-index: 1;
						top: 12px; left: 0;
						width: 0; height: 1px;
						background: $darkcolor;
						@include transition(all .2s cubic-bezier(0.9, 0, 0, 1));
					}
					@include hover {
						color: $darkcolor;
						&:after {
							width: 100%;
						}
					}
				}
				&.active {
					a {
						color: $darkcolor;
						&:after {
							width: 100%;
						}
					}
				}
			}
		}
	}
}